@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.draggableItem:not(:last-child) {
    margin-bottom: 24px;
}

.hoveredSection {
    color: #633CFF;
}

.hoveredSection:hover * {
    color: #633CFF;
    fill: #633CFF;
}

.selectedCustomizeLinksSection, .selectedCustomizeLinksSection * {
    color: #633CFF;
    fill: #633CFF;
    background: #EFEBFF;
}

